mixin hero(data)
    +b.hero()&attributes(attributes)
        .container
            +e.left-menu-conatiner
                +b.UL.left-menu.__left-menu(id="list")
                    +e.SPAN.header-title Виды деятельности
                    +e.LI.sub-item
                        .item-header Строительство коттеджей под ключ
                        +e.UL.sub-list
                            +e.LI.sub-list-item
                                +e.A(href="#") Индивидуальный проект
                            +e.LI.sub-list-item
                                +e.A Внутренний/ландшафтный дизайн-проект
                    +e.LI.sub-item
                        .item-header  Устройство фасада  кавказским камнем  по технологии  термошуба
                        +e.UL.sub-list
                            +e.LI.sub-list-item
                                +e.A(href="#") Индивидуальный проект
                            +e.LI.sub-list-item
                                +e.A(href="#") Внутренний/ландшафтный дизайн-проект
                    +e.LI.sub-item
                        .item-header Выделение, оформление  участка от приобретении  до прописки
                        +e.UL.sub-list
                            +e.LI.sub-list-item
                                +e.A(href="#") Индивидуальный проект
                            +e.LI.sub-list-item
                                +e.A(href="#") Внутренний/ландшафтный дизайн-проект
                    +e.LI.sub-item
                        .item-header Бани/бассейны
                        +e.UL.sub-list
                            +e.LI.sub-list-item
                                +e.A(href="#") Индивидуальный проект
                            +e.LI.sub-list-item
                                +e.A(href="#") Внутренний/ландшафтный дизайн-проект
                    +e.LI.sub-item
                        .item-header Камины/барбекю/беседки
                        +e.UL.sub-list
                            +e.LI.sub-list-item
                                +e.A(href="#") Индивидуальный проект
                            +e.LI.sub-list-item
                                +e.A(href="#") Внутренний/ландшафтный дизайн-проект
                    +e.LI.sub-item
                        .item-header Корпусная мебель, кухни,  шкафы-купе
                        +e.UL.sub-list
                            +e.LI.sub-list-item
                                +e.A(href="#") Индивидуальный проект
                            +e.LI.sub-list-item
                                +e.A(href="#") Внутренний/ландшафтный дизайн-проект
                    +e.LI.sub-item
                        .item-header Консультация и услуги  дизайнера
                        +e.UL.sub-list
                            +e.LI.sub-list-item
                                +e.A(href="#") Индивидуальный проект
                            +e.LI.sub-list-item
                                +e.A(href="#") Внутренний/ландшафтный дизайн-проект



            +b.main-body.__main-body
                +e.H1.title H1 заголовок
                +e.path
                    +e.A.link.active-green(href='#') Главная
                    | »
                    +e.A.link.active-green(href="#") Левое меню
                    | »
                    +e.A.link(href="#") Пример хлебных крошек
                +e.P.text Сегодня все большую популярность приобретает  такая разновидность ремонта, как перепланировка квартиры. И одним из этапов перепланировки является устройство различных проемов в несущих стенах. Существует множество технологий для осуществления данного процесса, они имеют свои  плюсы, и минусы. Наша компания провела анализ  технологий и готова предложить Вам самый эффективный, надежный, а самое главное безопасный  способ устройства проемов.
                    | Наша компания готова предложить Вам полный комплекс услуг, связанных с организацией проемов в несущих стенах и конструкциях, а именно:
                +e.UL.list
                    +e.LI.list-item проведение обследования с выдачей технического заключения о возможности организации приема;
                    +e.LI.list-item разраюотка проекта перепланировки с усиление несущей конструкции;
                    +e.LI.list-item непосредственная прорезка проемов;
                    +e.LI.list-item усиление организованных проемов металлоконструкциями (в соответвии с пректными решениями);
                +e.H2.subtitle H2 заголовок
                +e.P.text Одним из самых современных методов выполнения бурения в бетонных конструкциях является алмазная резка (бурение). Работы по алмазному сверлению (алмазному бурению) выполняются нашими специалистами с высокой степенью точности. Это относится как к диаметру, так
                    | и к позиционированию отверстий относительно разметки. Алмазный диск, который производит бурение не оставляет на поверхности сколов и трещин, таким образом наши специалисты добиваются практически идеально ровных спилов, что немаловажно при дальнейшей обработке проемов. При алмазном  бурении значительно уменьшается объем пыли и строительных отходов.
                    | Неоспоримым плюсом является отсутствие сильного шума (мигрень соседей Вам не грозит)
                    | и грубого ударного воздействия на стены (это позволяет избежать трещин на стене).

