mixin galery(data)
    .container
        +b.galery()&attributes(attributes)
            +e.A.image-link(href="#")
                +e.IMG.image(src="%=static=%img/content/slide.png")
            +e.A.image-link(href="#")
                +e.IMG.image(src="%=static=%img/content/slide.png")
            +e.A.image-link(href="#")
                +e.IMG.image(src="%=static=%img/content/slide.png")
            +e.A.image-link(href="#")
                +e.IMG.image(src="%=static=%img/content/slide.png")
            +e.A.image-link(href="#")
                +e.IMG.image(src="%=static=%img/content/slide.png")
            +e.A.image-link(href="#")
                +e.IMG.image(src="%=static=%img/content/slide.png")
        +b.overlay
